html, body
{
	height: 98.4%;
	width: 99.7%;
}
.all {
	width: 100%;
	height: 100%;
}

#schemes {
	background-color: #E3FFFF;
	border: 2px solid #adadad;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #888888;
	width: 99%;
	height: 30%;	
}
.tittle {
	font-size: 18px;
	font-weight: bold;
	background-color: #636363;
	border: 1px solid #000000;
	color: #fff;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 4px 4px 4px 10px;
	box-shadow: inset 0px 0px 6px 0px #201C2F;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.options {
	margin-left: 10px;
}