html, body{
  	height: 98%;
  	width: 100%;
  	background-color: white;
  	min-width: 805px;
  	min-height: 614px;
}

body{
	margin:0;
	padding:0;
	font-family: Arial;
	cursor: default;
}

#modalContainer {
            background-color: #f9f9f9;
            height: 500px;
            margin: auto;
            width: 700px;
        }
        #titleContainer{
            float: left;
            width: 100%;
        }

        #title {
            float: left;
            font-size: 24px;
            padding: 25px;
        }

        #projectType {
            float: right;
            padding: 10px 20px 5px;
            width: 135px;
        }

        #projectType > p {
            font-size: 13px;
            margin: 0;
            padding: 5px 0;
        }

        #modalContainer {
            background-color: #f9f9f9;
            border: 1px solid #bababa;
            border-radius: 10px;
            height: 425px;
            margin: 30px auto;
            width: 600px;
        }

        .subTitle {
            background-color: #e3e3e3;
            border-bottom: 1px solid #cfcfcf;
            border-top: 1px solid #cfcfcf;
            font-size: 14px;
            font-weight: bold;
            margin-top: 60px;
            padding: 10px 0;
            text-align: center;
        }

        #mainText {
            font-size: 14px;
            line-height: 24px;
            padding: 56px 20px 0;
            text-align: justify;
            width: 94%;
        }
        #gameTypes {
            clear: both;
            height: 70px;
            margin: auto;
            width: 50%;
        }

        #gameTypes div {
            float: left;
            padding: 20px 0;
            text-align: center;
            width: 50%;
        }

        #projectType select {
            width: 100%;
        }
        #buttonContainer {
            text-align: center;
        }
        
.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(196, 196, 196, .85);
    top: 0;
    left: 100%;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.overlay .popup-overlay {
    opacity: 1;
    left: 0
}
body {
	font-family: Arial;
	background-color: #E4E4E4;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.all { 
	width: 100%; 
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: white;
}
.normal { float:left; width: 32.83%; }
.normalMenuDiv { 
	color: #585757;
	font-size: 23px;
	display: inline-block; 
	width: 49%;
	height: 30%;
}
.normalMenu {
	vertical-align: middle; 
	width: 22%;
	margin-top: 3%;
	float: left;
	height: 80%;
}
.attrPro {
	width: 66%;
	margin-right: 3%;
	float: right;
	height: 90%;
}
.attrProQuality {
	margin-right: 1.8%;
	width: 68%;
	float: right;
	height: 100%;
}
.proText {
	position: absolute; 
	width: 15%;
	text-align: center;
	padding: 0.6% 0 0 0; 
	font-size: 20px;
}
#dialog > p {
	font-family: Arial;
}
#dialog .proText {
	position: absolute; 
	width: 31.5%;
	text-align: center;
	padding: 1.5% 0 0 0; 
	font-size: 20px;
}
.qualityAttr {
	height: 90%;
	
  	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	
	width: 8%;
	padding: 0;
	margin: 0 0.5% 0 0.5%;
	display: inline-block; 
}
.top { height: 34%; margin: 0%; }
.bottom { height: 64%; margin: 0%;}
.left-top { float:left; width: 47.67%; }
.center-top { float:left; width: 18%; }
.topTitle {
	height: 15%;
	color: #585757;
	font-size: 23px;
	font-weight: 100;
	text-align: left; 
}
.bottomTitle {
	height: 8%;
	color: #585757;
	font-size: 23px;
	font-weight: 100;
	text-align: left; 
}
.menuTitle {
  	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	margin: 0;
	padding: 0 0 0 30px;
	height: 25%;
	color: #585757;
	font-size: 23px;
	font-weight: 100;
	text-align: left; 
}
.element { 
  	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  
  	margin: 0.25%;
	padding: 1%; 
	background-color: #E3FFFF;
	border: 2px solid #adadad;
	border-radius: 5px;
    box-shadow: 4px 4px 4px #888888;
}
.topList {
	height: 83%;
	list-style: outside none none;
	margin: 0;
	overflow: auto;
	padding: 0px;
}
.bottomList {
	height: 90%;
	list-style: outside none none;
	margin: 0;
	overflow: auto;
	padding: 0px;
}
#controls {
	height: 96%;
	list-style: outside none none;
	margin: 0;
	overflow: auto;
	padding: 0;
}
.menu {
	height: 73%;
	list-style: outside none none;
	margin: 0;
	overflow: auto;
	padding: 0;
}
#dialog .menu {
	height: 30%;
	list-style: outside none none;
	margin: 0;
	overflow: auto;
	padding-bottom: 2%;
	padding-top: 2%;
}
#dialog p {
	height: 25%;
	margin: 0 !important;
}
#tasks{ height: 87%;}

#progressbar.ui-progressbar {
	-webkit-box-shadow: inset 3px 3px 9px 0px rgba(50, 50, 50, 0.64);
	-moz-box-shadow: inset 3px 3px 9px 0px rgba(50, 50, 50, 0.64);
	box-shadow: inset 3px 3px 9px 0px rgba(50, 50, 50, 0.64);	
}

#progressbar .ui-progressbar-value {
	-webkit-box-shadow: inset 3px 3px 9px 0px rgba(50, 50, 50, 0.64), inset 2px 2px 30px 10px #0080ff;
	-moz-box-shadow: inset 3px 3px 9px 0px rgba(50, 50, 50, 0.64), inset 2px 2px 30px 10px #0080ff;
	box-shadow: inset 3px 3px 9px 0px rgba(50, 50, 50, 0.64), inset 2px 2px 30px 10px #0080ff;	
}

#progressText {	
	position: absolute; 
	height: 22px;
	text-align: center;
	padding: 7px 0px 0px 14%;
}
.left{ float: left; }
.right{ float: right; }

span.close {
	float: right;
	margin: 0;
	visibility: hidden;
	cursor: pointer;
}
.element ul li {
  	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  
	font-size: 16px;
	font-weight: bold;
	
	background-color: #636363;
	border: 1px solid #000000;
	color: #fff;
	border-radius: 8px;
	margin-bottom: 3px;
	padding: 4px 4px 4px 10px;
	box-shadow: inset 0px 0px 6px 0px #201C2F;
}
img.smallImg {
	height:14px;
}
.red {
	color: #E96262;
	font-weight: bold;
}
.green {
	color: greenyellow;
	font-weight: bold;
}

.badEffect {
	background: #480000 !important;
}

.goodEffect {
	background: #003300 !important;
}

.textBorder {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.riskImpact {
	color: yellow;
}
.withTooltip {
	cursor: help;
}
.youShallNotPass {
	cursor: no-drop;
}

#progressbar { 
	cursor: pointer;
}

.draggable, .resource {
    cursor: grab;
    cursor: -webkit-grab; //chrome
}

.ui-sortable-disabled .draggable, .ui-sortable-disabled .resource {
    cursor: default;
}

.element ul li.solution {
    color: #FFFF60;
}

.assignedResource {
	font-size: 12px;
	margin: 1%;
}
.ui-tooltip {
	background-color: #FFFFA3;
	background-image: none;
	font-size: 90%;
	max-width: 500px;
}
/* Popupy koncowe (START) */
.ui-dialog .ui-dialog-buttonpane { 
    text-align: center;
    border-width: 0 !important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}
.center {
	text-align: center;
	line-height: 200%;
}
.rounded {
	border-radius: 50px;
}
.noTitleBar .ui-dialog-titlebar {
	display: none;
}
#popupTitle {
	font-size: 150%;
	font-weight: bold;
}
#endScore {
	font-size: 150%;
}
.lost {
	color: red;
}
.won {
	color: green;
}
#starsText {
	color: rgb(231, 175, 73);
	font-size: 150%;
	font-weight: bold;
}
/* Popupy koncowe (END) */
/* Panel powitalny (START) */
#panelWelcome {
	width: 98%;
	height: 97.8%;
	float: left;
	
	margin: 1%;
	background-color: #E3FFFF;
	border: 2px solid #adadad;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #888888;
}

#panelWelcomeUpper {
	width: 100%;
	height: 30%;
	float: left;
}

#panelWelcomeLower {
	width: 100%;
	height: 70%;
	float: left;
	position: relative;
}

#panelWelcomeUpperLeft {
	width: 15%;
	height: 100%;
	float: left;
}
#howToPlayButton {
	height: 20%; 
	width: 140px;
	margin: 5px; 
	background-color: rgb(49, 49, 255); 
	box-shadow: 0px 0px 6px 0px rgb(0, 0, 144) inset;
}
#howToPlayButtonContent {
	font-size: 20px; 
	padding-top: 5px;
}

#panelWelcomeUpperMiddle {
	width: 70%;
	height: 100%;
	float: left;
	text-align: center;
}

#panelWelcomeUpperRight {
	width: 15%;
	height: 100%;
	float: left;
}
#panelWelcomeUpperMiddleSpaceTop {
	width: 100%;
	height: 5%;
}
.textWelcomeUpper {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: blue;
}
#textWelcomeGameName {
	font-size: 58px;
	font-weight: bold;
}
#textWelcomeTitle {
	font-size: 34px;
	font-weight: bold;
}
.flag {
	width: 20%;
	cursor: pointer;
	float: right;
	margin: 5px 0 0 10px;
}

#languagesAvailable {
	margin: 5px;
}
#panelWelcomeLowerContents {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	float:left;
	width: 100%;
}
#panelWelcomeLowerProjects {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 3%;
}
#welcomeLowerComboBox {
	width: 45%;
/*	height: 30px;
	margin-top: 15px;  */
	font-size: 18px;
}
#panelWelcomeLowerGameType {
	width: 100%;
	float: left;
	margin-top: 2%;
	height: 10%;
	margin-bottom: 1%;
}
#panelWelcomeLowerGameTypeCotent {
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 100%;
}
#panelWelcomeLowerGameTypeCotent > span {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
}
#panelWelcomeLowerGameTypeCotent > input[type=radio] { 
transform: scale(1.5, 1.5); 
-moz-transform: scale(1.5, 1.5); 
-ms-transform: scale(1.5, 1.5); 
-webkit-transform: scale(1.5, 1.5); 
-o-transform: scale(1.5, 1.5); 
}
.panelWelcomeLowerRadioButtons {
	float: left;
}
#panelWelcomeLowerStartGame {
	width: 100%;
	float: left;
	height: 60px;
}
#panelWelcomeLowerStartGameButton {
	width: 194px;
	height: 96%;
	background-color: yellowgreen;
	box-shadow: inset 0px 0px 6px 0px green;
}
.panelWelcomeButton {
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}
.panelWelcomeButtonContent {
	text-align: center;
	padding-top: 15px;
	text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
#panelWelcomeLowerFooter {
	text-align: center;
	float: left;
	width: 100%;
	position:absolute; 
	bottom:0;
	background-color: #C4F0FF;
}
#panelWelcomeLowerFooterContent {
	padding-top: 7px;
	padding-bottom: 7px;
}
.selectedLanguage {
	border: 1px solid rgb(192, 47, 47);
	box-shadow: -2px 0 rgb(192, 47, 47), 0 2px rgb(192, 47, 47), 2px 0 rgb(192, 47, 47), 0 -2px rgb(192, 47, 47);
}
/* Panel powitalny (END) */
	/* wyskakujace okienka (START) */
.popup {
	width: 40%;
	background: #E3FFFF;
	position: absolute;
	top:29%;
	left: 29%;
	padding: 1%;
	border-radius: 60px;
	box-shadow: 4px 4px 4px #888888;
	border: 2px solid black;
}
.popupUpper {
	width: 100%;
	height: 70%;
	float: left;
	overflow: auto;
	margin: 25px 0px 0px 0px;
	text-align: center;
	font-weight: bold;
}

.popupLower {
	width: 100%;
	height: 20%;
	float: left;
}
.popupLowerButton {
	margin-left: auto;
	margin-right: auto;
	width: 91px;
	height: 39px;
	font-size: 24px;
	font-weight: bold;
	background-color: rgb(224, 224, 224);
	border-radius: 8px;
	box-shadow: inset 0px 0px 4px 2px black;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 8px;
}
.popupLowerButtonCotent, .textPopupLowerButton {
	text-align: center;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 5px;
}
#autopausePopup {
	width: 40%;
	position: absolute;
	top:35%;
	left: 30%;
	background-color: transparent;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: red;
	
}
#tutorialVideoPlayer {
	margin-top: 20px;
}
/* wyskakujace okienka (END) */
#backToWelcome {
	cursor: pointer;
}
#preloaderContent{
	float: left;
	top: 45%;
	position: absolute;
	left: 45%;
}
/*rzecz ukryta na czas badan do magisterki*/
.hiddenBecauseOfResearch{
	pointer-events: none;
    opacity: 0.4;
}
